.admin__card__creation {
  .upload__images__container {
    border: 1px solid #ccc;
    flex: 0 0 70%;
    justify-content: center;
    .attchment__details__container {
      .input__attachment_details {
        justify-content: flex-end;
        flex: 1;
        align-items: center;
        background: #ccc;
        height: 40px;
        #upload__images {
          display: none;
        }
      }
    }
    .preview__url__container {
      span.active {
        color: #2874f0;
      }
    }
  }
  .card__details__from {
    flex: 0 0 30%;
  }
}
