.row {
  display: flex;
  flex-wrap: wrap;
}
* {
  box-sizing: border-box;
}
.column {
  flex: 0 0 50%;
}

.column img {
  vertical-align: middle;
}

.gallery {
  flex: 1;
  img {
    width: 100%;
  }
  .link {
    color: #0060c0;
    cursor: pointer;
    &:hover {
      color: #c45500;
    }
  }
  .example-enter {
    opacity: 0.01;
  }

  .example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }

  .example-leave {
    opacity: 1;
  }

  .example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }
}
