.image__preview__wrapper {
  .image__preview__container {
    align-items: center;
    flex: 3;
    height: auto;
    min-height: 500px;
    position: relative;
    max-width: 100%;
    .image__preview_slider {
      background: rgba(0, 0, 0, 0.4);
      color: #fff;
      height: 30px;
      position: absolute;
      width: 30px;
      &.icon-left-open-big {
        left: 0;
      }
      &.icon-right-open-big {
        right: 0;
      }
    }
  }
}
