.header {
  background: linear-gradient(to right, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 1;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
  font-weight: bold;
  user-select: none;
  font-style: oblique;
  font-family: serif;
}
