@import '../../styles/styles.scss';
.sidebar {
    display: flex;
    height: 100%;
    color: white;
    position: relative;
    z-index: 5;
    .menu {
        display: flex;
        flex-direction: column;
        height: 100%;;
        background: $primaryBlack;
        z-index: 2;
        .menu--option {
            width: 100px;
            font-size: $big;
            height: 100px;
            cursor: pointer;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 11;
            cursor: pointer;
            // border-bottom: 2px solid $secondaryBlack;
            &.active {
                background: $secondaryBlack;
            }
        }
    }
    .menuDetails {
        width: 300px;
        background: $secondaryBlack;
        transition: 0.3s all linear;
        padding: 20px;
        overflow-y: scroll;
        @media screen and (max-width: 1024px) {
            transform: translateX(-300px);
            position: absolute;
            left: 100px;
            height: 100%;
            &.active {
                transform: translateX(0);
            } 
        }
       
    }

}