.template_container {
  position: relative;
  .align__top__guide,
  .align__center__guide,
  .align__bottom__guide,
  .align__card__verical_center__guide {
    width: 100%;
    border-bottom: 1px dashed #ccc;
    position: absolute;
  }
  .align__card__center__guide,
  .align__left__guide {
    height: 100%;
    border-left: 1px dashed #ccc;
    position: absolute;
    top: 0;
  }

  .card__border {
    border: 1px dashed #ccc;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    margin: 10px;
    position: absolute;
    top: 0;
  }
}
