.page--wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 30px;
    position: relative;
    .page {
        display: flex;
        position: relative;
        border: 1px solid #ccc;
        overflow: hidden;  
    }
    .comp--visible {
        visibility: visible;
       
    }
    .comp--hide {
        visibility: hidden;
        height: 0 !important;
    }
}