.sidebar__filter {
  border-right: 1px solid #d4d4d5;
  height: 100%;
  overflow: auto;
  padding: 10px;
  position: fixed !important;
  top: 50px;
  width: 235px;
}
.block {
  display: block !important;
}
