.card__details {
  .image__thumnail_container {
    flex: 0 0 100px;
    .image__thumnail {
      border: 1px solid #ccc;
      width: 65px;
      height: 65px;
      margin: 5px;
      img {
        padding: 5px;
      }
    }
  }
  .image__container {
    flex: 1;
    height: auto;
    align-self: center;
    .buy__now {
      flex: 0.5;
      background: green;
    }
    .add__to__cart {
      flex: 0.5;
      background: #ff9f00;
    }
  }
  .image__details {
    flex: 0 0 30%;
    margin: 0 10px;
    .tag__container {
      border-top: 1px solid #ccc;
      padding: 10px 0;
      .tag {
        padding: 5px 0;
        color: #999;
      }
      .icon-right-open {
        font-size: 15px;
        :before {
          font-size: 8px;
        }
      }
      .sellers__details {
        line-height: 20px;
        color: #878787;
        .seller__details {
          font-size: 13px;
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .card__details {
    flex-direction: column;
    .image__thumnail_container {
      flex: 1;
      flex-direction: row;
      order: 2;
      .image__thumnail {
        width: 32px;
        height: 32px;
      }
    }
    .image__container {
      order: 1;
      flex: 1;
    }
    .image__details {
      order: 3;
      flex: 1;
    }
  }
}
