.sticker__editor__tool {
  position: fixed;
  top: 50px;
  transform: translateY(-100px);
  transition: all 0.3s;
  right: 0;
  z-index: 1;
  &.active {
    transform: translateY(0);
  }
  & input.hidden {
    display: none;
  }
  & label.btn {
    display: inline-grid;
    align-content: center;
    justify-content: space-evenly;
    background: #fff;
    margin: 5px 2px;
    border-radius: 5px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    &:hover {
      background: #ccc;
    }
  }
  .filter__container {
    position: absolute;
    top: 146%;
    left: -20px;
    width: 250px;
    background: rgba(0, 0, 0, 0.6);
    &:before {
      // @extend %cap; Todo: // Make it workable
      content: '';
      border: none;
      border: 17px;
      border-color: transparent transparent rgba(0, 0, 0, 0.6);
      border-style: solid;
      position: absolute;
      top: -34px;
      display: inline-block;
      left: 24px;
    }
    & > div {
      padding: 10px;
      color: white;
    }
  }
}
.text__editor__tool {
  display: inline-block;
  // grid-template-columns: auto auto auto auto auto;
  // justify-content: space-evenly;
  // align-content: center;
  & input[type='checkbox']:checked + label,
  input[type='radio']:checked + label {
    background: #ccc;
  }
  transform: translateY(-100px);
  &.active {
    transform: translateY(0px);
  }
}
.common__editor__tool {
  display: inline-block;
}
.sticker__editor__tool__image {
  display: inline-block;
  left: 0;
}
