#root {
  height: 100%;
}

.display--none {
  display: none;
}
.visibility--hidden {
  opacity: 0;
}
.visible--smoothly {
  opacity: 1;
  transition: all 0.4s;
}

.ui.card {
  position: relative;
  background-color: #f9f9f9;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin: 10px;
  box-shadow: rgb(204, 204, 204) 0px 1px 2px !important;
}
.card:hover {
  box-shadow: rgb(187, 187, 187) 0px 2px 8px !important;
  background-color: #fff;
}

.height-100 {
  height: 100%;
}

.content--row {
  margin-top: 20px;
}