* {
  box-sizing: border-box;
}
#root {
  height: 100%;
}
.row {
  &::after {
    content: '';
    clear: both;
    display: table;
  }
}
// [class*='col-'] {
//   float: left;
//   padding: 0 15px;
// }
// .col-1 {
//   width: 8.33%;
// }
// .col-2 {
//   width: 16.66%;
// }
// .col-3 {
//   width: 25%;
// }
// .col-4 {
//   width: 33.33%;
// }
// .col-5 {
//   width: 41.66%;
// }
// .col-6 {
//   width: 50%;
// }
// .col-7 {
//   width: 58.33%;
// }
// .col-8 {
//   width: 66.66%;
// }
// .col-9 {
//   width: 75%;
// }
// .col-10 {
//   width: 83.33%;
// }
// .col-11 {
//   width: 91.66%;
// }
// .col-12 {
//   width: 100%;
// }
.m-t-60 {
  margin-top: 60px;
}
.h-100 {
  height: 100%;
}

/*************************************************** Select ***************************************************/
select {
  border-radius: 4px;
  background: white;
  cursor: pointer;
  outline: none;
  padding: 5px;
}

/************************************************* button **************************************************/
button {
  margin: 5px; //remove later and generate m-*
  min-height: 30px;
  background: white;
  border: 1px solid #ccc;
  cursor: pointer;
  box-shadow: 2px 2px 2px #111;
  outline: none;
  border-radius: 0 5px 0 5px;
  font-weight: bold;
  &:active {
    border-radius: 5px 0px;
    box-shadow: 1px 1px 1px transparent;
    transform: translateX(1px) translateY(1px);
  }
  &:hover {
    border-radius: 5px 0px;
  }
}

/*********************************************** icon ********************************************************/
[class*='icon-'] {
  font-size: 20px;
}