body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.text-center {
  text-align: center;
}

%handle {
  cursor: ew-resize;
  height: 100%;
  position: absolute;
  top: 0;
  width: 10px;
}
%handle-before {
  background: #000;
  content: '';
  right: 0;
  position: absolute;
  top: 33%;
  width: 7px;
  height: 13px;
}
.active .h-l {
  @extend %handle;
  left: -10px;
  &:before {
    @extend %handle-before;
    border-right: none;
    border-radius: 17px 0 0 17px;
  }
}
