body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.text-center {
  text-align: center; }

.sticker.active .h-l, .sticker.active .h-r {
  cursor: ew-resize;
  height: 100%;
  position: absolute;
  top: 0;
  width: 10px; }
  .sticker.active .h-l:hover:before, .sticker.active .h-r:hover:before {
    border-color: green; }
  .sticker.active .h-l:focus, .sticker.active .h-r:focus {
    outline: none; }

.sticker.active .h-l:before, .sticker.active .h-r:before {
  background: #000;
  content: '';
  right: 0;
  position: absolute;
  top: calc(50% - 8px);
  width: 7px;
  height: 12px;
  border: 2px solid white; }

.sticker.active .h-l {
  left: -10px; }
  .sticker.active .h-l:before {
    border-right: none;
    border-radius: 17px 0 0 17px; }

.sticker.active .h-r {
  right: -8px; }
  .sticker.active .h-r:before {
    border-left: none;
    border-radius: 0 17px 17px 0; }

.sticker.active .handle.rotate {
  position: absolute;
  left: 50%;
  bottom: 0; }
  .sticker.active .handle.rotate:after {
    content: '';
    background: url(https://static.canva.com/static/images/icon_rotate_hover.svg);
    width: 16px;
    height: 16px;
    position: absolute;
    background-repeat: no-repeat;
    left: calc(50% - 7px);
    bottom: -40px; }
  .sticker.active .handle.rotate:before {
    content: '';
    height: 25px;
    position: absolute;
    border-left: 1px dashed #ccc; }

div.editable {
  outline: none; }
