html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}
.text-center {
  text-align: center;
}

%handle {
  cursor: ew-resize;
  height: 100%;
  position: absolute;
  top: 0;
  width: 10px;
  &:hover {
    &:before {
      border-color: green;
    }
  }
  &:focus {
    outline: none;
  }
}
%handle-before {
  background: #000;
  content: '';
  right: 0;
  position: absolute;
  top: calc(50% - 8px);
  width: 7px;
  height: 12px;
  border: 2px solid white;
}

.sticker .h-l {
  @extend %handle;
  left: -10px;
  & > span {
    @extend %handle-before;
    display: inline-block;
    border-right: none;
    border-radius: 17px 0 0 17px;
  }
}

.sticker.active .h-r {
  @extend %handle;
  right: -8px;
  & > span {
    @extend %handle-before;
    border-left: none;
    border-radius: 0 17px 17px 0;
  }
}

.sticker.active .handle.rotate {
  position: absolute;
  left: 50%;
  bottom: 0;
  &:after {
    content: '';
    background: url(https://static.canva.com/static/images/icon_rotate_hover.svg);
    width: 16px;
    height: 16px;
    position: absolute;
    background-repeat: no-repeat;
    left: calc(50% - 7px);
    bottom: -40px;
  }
  &:before {
    content: '';
    height: 25px;
    position: absolute;
    border-left: 1px dashed #ccc;
  }
}

div.editable {
  outline: none;
}

.text-editor-tool {
  border: 1px solid red;
}
