html {
  height: 100%;
  touch-action: none; //todo think about it
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}
.text-center {
  text-align: center;
}

/********************************************* common *********************************************/
.inline-block {
  display: inline-block;
}
.relative {
  position: relative;
}

/******************************************** Float ***********************************************/
.left {
  float: left;
  display: inline-block;
}
.right {
  float: right;
  display: inline-block;
}
.clear {
  clear: both;
}

/******************************************* Card *********************************/
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  /* min-width: 0; */
  /* word-wrap: break-word; */
  background-color: #fff;
  /* background-clip: border-box; */
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin: 10px;
}

.card-header, .card-footer {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}
