.Viewer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .ImageViewer {
        display: flex;
        margin-left: 50%;
        align-items: center;
        width: 40%;
        height: 600px;
    }
    .prevButton, .nextButton {
        position: absolute;
        top: 100%
    }
    img {
       cursor: pointer;
    }
}
