.templates__container {
  display: inline-block;
  max-height: 100%;
  overflow: auto;
  position: relative;
  width: calc(100% - 350px);
  & #background__image__container {
    position: relative;
    margin: 50px auto;
    float: none;
    user-select: none;
    overflow: hidden;
    width: 60%;
    @media only screen and (max-width: 768px) {
      width: 80%;
    }
    & img#card__image {
      user-select: none;
      width: 100%;
    }
  }
  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}
